<a href="https://colab.research.google.com/github/pulapallyyashwanth/PYTHON/blob/main/python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Module 1

In [ ]:
#write a program to print "hello world"
# by using "print()" its an inbuilt function to display your output
print("Hello wrold!")

Hello wrold!

#Numerical data types in Python

In [ ]:
#there 3 types
#1. Integer:-  its a whole number either +ve or -ve without decimal points
print(10)
print(-5)
#find the data type for above integers
#use the 'type()' is an inbuilt function used to find the data type
print(type(10))
print(type(-5))

10
-5
<class 'int'>
<class 'int'>

In [ ]:
#2. Float:-  its a whole number either +ve or -ve with decimal point
print(10.5)
print(-5.5)
#print the data type for above integers
print(type(10.5))
print(type(-5.5))

10.5
-5.5
<class 'float'>
<class 'float'>

In [ ]:
#3.complex number:- A real number with its imaginary part is known as complex number
# imaginary part is denoted with "j"--> is known as iota
print(2 + 5j)
print(3 + 6j)
print(
    (2 + 5j))
print(type(3 + 6j))

(2+5j)
(3+6j)
(2+5j)
<class 'complex'>

#Arthametic Operators

In [ ]:
#what are all arthmetic operators do we have in python?
#There are 7 Types
#1.Addition----> +
print(10 + 5)
#2. substarction ---> -
print(10 - 5)
#3. multiplication----> *
print(10 * 5)
#4. division -----> /
print(10 / 5)
#why the default dtype for division is float?
#To Get proper co-effiecient the founder of python "gudeo van rossum" make dtype as float

15
5
50
2.0

In [ ]:
#5. Modulus---> %--> remainder of the division
print(10 % 5)
print(7 % 2)
print(10 % 2)

0
1
0

In [ ]:
#6. exponential----> ** --> to the power off
print(10 ** 5)
print(2 ** 3)

100000
8

In [ ]:
#7. floor division--> //
# it ignores the values after the decimal point
print(10 / 3)
print(10 // 3)

3.3333333333333335
3

**10-12-2024**

In [ ]:
#what ia Floor value?
#The value before the the decimal point is known as floor value
#what is the ceil value?
#The next upcoimng value or nearest value is known as ceil value.

**Round()**

In [ ]:
#How to use round()?
#can be used inside the print()
# ** round can be applicable if the number is float.
print(round(6))

6

In [ ]:
print(round(2.63))

3

In [ ]:
print(round(3.50))

4

In [ ]:
#  2546.938246746
#round(number, ndigits)
print(round(2546.938246746,4))
#Note:- Round() is used to print the specific ndigits of the float number

2546.9382

In [ ]:
#Note if i give -ve ndigits count then the round function ignores the values after the decimal point and make it as zero
print(round(12345.73836352,-3))
print(round(13644.89764,-2))

12000.0
13600.0

**Varaibles**

In [ ]:
#what is varaible?
#varaibles are nothing but a container where we can store our valuable information and reuse it.
#How can we create a varaible?
""" let say father age is 40
and son age is half of father age
let say father age is x and son age is
half of father age then son age is x/2"""

' let say father age is 40\nand son age is half of father age\nlet say father age is x and son age is\nhalf of father age then son age is x/2'

In [ ]:
x = 40
son_age = x/2
print(son_age)

20.0

In [ ]:
#take two numerical varaibles and apply all the arthametic operations?
a = 10
b = 5
print(a + b)

15

**Types errors in Python**

In [ ]:
#How many types of errors do we have in python?
#There are two types
#1. Syntax error
#2. Logical error

**1. Syntax error**

In [ ]:
#Breaking the rules of programming language can rise an syntax error
""" Multiline comments can be
written in double triple quotes or single triple quotes
when you use the  (double triple quotes) close it with double triple quotes
if you use the single triple quotes(''') close it with single triple quotes(''') """

" Multiline comments can be\nwritten in double triple quotes or single triple quotes\nwhen you use the  (double triple quotes) close it with double triple quotes\nif you use the single triple quotes(''') close it with single triple quotes(''') "

In [ ]:
print(10 * * 3)

SyntaxError: invalid syntax (<ipython-input-21-11fc910c80e1>, line 1)

**2.Logical Error**

In [ ]:
#except syntax error all the erros comes under the logical errors
#ex:- indentation error, Name error, attribute error....etc

**Rules to create the varaibles**

In [ ]:
#1. start creating the varaibles by using the alphabets
a = "hello world!"
print(a)

In [ ]:
#2.Dont start creating the varibles by using the numbers
2 = "hello world"
print(2)

In [ ]:
#3.if you follow rule 1 and 2 you can use the number in between the varaible name
son2age= 40
print(son2age)

In [ ]:
#4.we should not use the special characters in between the varaibles
#@$%^&*
son@age = 20
print(son@age)

In [ ]:
#5. Dont separate the varaible with white spaces instead use the _
son age = 20
print(son age)

In [ ]:
#6. start creating the varaible by using underscore (_)
_ = "hello"
print(_)

In [ ]:
#7. don't use the uppercase letters as a varaible name
son_age = 20

In [ ]:
#we cannot use the keyword means inbuilt words
import keyword
print(keyword.kwlist)

**smart ways of writing the varaibles**

In [ ]:
#assign multiple values to multiple varaibles and print in a seprate line
#hint:- take 3 varaible and assign 3 values
a = 10
b = 5
c = 20
print(a)
print(b)
print(c)

10
5
20

In [ ]:
a,b,c = 10,5,20
print(a,b,c,sep='\n')

10
5
20

In [ ]:
#assign the same value to the multiple varaibles
#hint:- take 3 varaible and assign same values
a = 10
b = 10
c = 10
print(a,b,c,sep="\n")

10
10
10

In [ ]:
a = b = c = 10
print(a,b,c,sep='\n')

10
10
10

In [ ]:
#Input()
#strings()

In [ ]:
print(10 + 5)
a = 10
b = 5
print(a+b)

15
15

In [ ]:
print(a-b)

5

**11-12-2024**

In [ ]:
#take two varaibles and apply all the arthametic operations
a = 10
b = 5
print(a+b)
print(a-b)
print(a*b)
print(a/b)
print(a%b)
print(a**b)
print(a//b)

15
5
50
2.0
0
100000
2

In [ ]:
# 20,56
a = 20
b = 56
print(a+b)
print(a-b)
print(a*b)
print(a/b)
print(a%b)
print(a**b)
print(a//b)

76
-36
1120
0.35714285714285715
20
7205759403792793600000000000000000000000000000000000000000000000000000000
0

**Input()**

In [ ]:
#what is input()?
#it is an inbuilt function where it takes any information from the user and store it

In [ ]:
a = input("enter your mobile: ")
print(a)
print(type(a))

enter your mobile: 52665
52665
<class 'str'>

In [ ]:
#what is default data type for input()?
#string
#why the default data type for input() is string?
"""Because the user dont know what type of information is going to enter, The function has
to be in such a way where it can takes any kind of information and store it, so the data type or
class which can accepts any information is "strings"  """

'Because the user dont know what type of information is going to enter, The function has \nto be in such a way where it can takes any kind of information and store it, so the data type or\nclass which can accepts any information is "strings"  '

In [ ]:
#How can we deal with numerical data when we use input()?
#we need to mention the numerical data type before input()
a = int(input("enter the number"))
b = int(input("enter the number"))
print(a+b)
print(a-b)
print(a*b)
print(a/b)
print(a%b)
print(a**b)
print(a//b)

enter the number2
enter the number5
7
-3
10
0.4
2
32
0

In [ ]:
a = float(input("enter the number"))
b = float(input("enter the number"))
print(a+b)
print(a-b)
print(type(a))

enter the number5
enter the number7
12.0
-2.0
<class 'float'>

#Strings

In [ ]:
#What is string?
#its a collection of multiple characters written inside the ('single quotes') or double quotes ("")
#How can we declare a string?
#('single quotes') or double quotes ("")

In [ ]:
print("Hello Wolrd!")
print(type('Hello World!'))

Hello Wolrd!
<class 'str'>

In [ ]:
#how many types of strings?
#two types
#single line string---> (' ') or (" ")
#Multline line string--->(""" """) or (''' ''')

In [ ]:
a = """Hi Team
       Good Day!
       Today we are discussing about strings
       i am writing multiline string! """
print(a)

Hi Team
       Good Day!
       Today we are discussing about strings
       i am writing multiline string!

In [ ]:
#Note:- a string is a collection multiple characters where each character can be accessible (or) printable
#How can we access the characters from string?
#By using "Indexing" and slicing operator we access the characters from string
#what is indexing?
#positional number of each character in the string
#indexing starts from zero
a = "Hello World!"
#access or print only "e" from above string
#[index_number]
print(a[1])
#access or print only "r" from above string
print(a[8])
#print the "Hello world!" in seprate lines

e
r

In [ ]:
#what is substrings?
#getting a part of string from main string is known as sub-strings

In [ ]:
a = "Hello World!"
##access or print "ello" from above string
#[start_index:end_index]
#Note: end index position is always--> n+1
print(a[1:6])
##access or print "world!" from above string
print(a[6:12])
b = "Good after-noon!"
#access or print "d after-" from above string
print(b[3:11])

ello
World!
d after-

In [ ]:
#len()--> it returns the total count of characters in the string
#len() starts from 1
print(len(b))
#find the end or last index position numbers
print(len(b)-1)
#print the last character of string b
print(b[15])

16
15
!

In [ ]:
c ='yadav'
print(len(c))
print(len(c)-4)

5
1

In [ ]:
a = int(input()) # '10'
b = int(input()) # '15'
print(a+b)

10
15
25

**12-12-2024**

In [ ]:
#what is a string?
#string is a sequence of multiple characters where each charcter is accessible or printable

In [ ]:
#How can we access charcters in string?
#By using indexing and slicing operator

In [ ]:
#what is slicing?
#getting a range of characters from the string
#slicing operator is denoted with----> []

In [ ]:
#[index_position number]
a = "Hello world!"
#print 'r' from the above string
print(a[8])

r

In [ ]:
#[start:end_index]----> end is always -->n+1
print(a[0:6])

Hello

In [ ]:
#print the even index position of the string characters
#[start:end:step]
print(a[0:12:2])
#print the odd index position characters?
#print(a[0:12:1])
print(a[1:12:2])

Hlowrd
el ol!

In [ ]:
#How can we find the len() of string?
#by using len() -->counts the total number of characters in the string
print(len(a))

12

In [ ]:
#print  or access the last character from the string?
#find the index position of last character?
print(len(a)-1)
print(a[11])

11
!

**Negative Indexing**

In [ ]:
#what is negative indexing?
#accessing the elements from reverse direction is know as negative indexing
#Negative indexing starts from -1
b = "Hello World!"
#print(b[-1])
#can we print a range of charcetrs in reverse by suing -ve indexing
#slicng is by default from left right direction
print(b[-1:-7:-1])

!dlroW

In [ ]:
print(b[-9:-1])

lo World

**default indexing**

In [ ]:
c = "Hello World!"
print(c[:])
#By default [start can be 0:end is len(str)]
#[start:end:step]
#[0:len(str):1]
print(c[::])

Hello World!
Hello World!

In [ ]:
#print the even characters from entire string
print(a[0:12:2])
print(c[::2])
print(a[1:12:2]) #odd position
print(c[1::2])

Hlowrd
HloWrd
el ol!
el ol!

In [ ]:
#reverse "Hello world!"
print(c[::1])
print(c[::-1])

In [ ]:
#print the string is palindrome or not
#mom, madam, hyderabad, malayalam
a = input("enter your string: ")
print(a[::-1])

In [ ]:
print(c[0:5])
print(c[0:5][1:2])

In [ ]:
a = "Hello world!"
print(a[-1:-6:1])

**string methods**

In [ ]:
#The methods that can be applied on the string is know as string methods
#what are methods we can apply on string?
#By using 'dir()' we can find out what are all methods we can apply on strings
d = "hello world!"
print(type(d))
print(dir(d))

In [ ]:
""" 'capitalize', 'casefold', 'center', 'count', 'encode', 'endswith',
'expandtabs', 'find', 'format', 'format_map', 'index', 'isalnum',
'isalpha', 'isascii', 'isdecimal', 'isdigit', 'isidentifier',
'islower', 'isnumeric', 'isprintable', 'isspace', 'istitle',
 'isupper', 'join', 'ljust', 'lower', 'lstrip', 'maketrans',
 'partition', 'removeprefix', 'removesuffix', 'replace',
'rfind', 'rindex', 'rjust', 'rpartition', 'rsplit', 'rstrip',
'split', 'splitlines', 'startswith', 'strip', 'swapcase', 'title', 'translate', 'upper', 'zfill' """

In [ ]:
#upper and lower()
print(d.lower())
print(d.upper())

In [ ]:
#capitalize
print(d.capitalize())

In [ ]:
#Title
print(d.title())

In [ ]:
#replace('old strind', 'newstring')
#in Hello world replace the "world" with universe
print(d.replace('world','universe'))

**18-12-2024**

**Conditional Statements**

In [ ]:
#what is purpose of of conditional statement?
#The purpose conditional statement is to check weather the condition is true or false
#what are all conditional statements do we have in python?
# 1)if
# 2)elif
# 3)else

In [ ]:
#How we are going to check the condition?
#By using the relational operators or comaprision operators
#There 6 types of comparison operators
""" 1. equals to ---> ==
    2. Not equals to---> !=
    3. greater than -->   >
    4. less than --->     <
    5. greater than equal to---> >=
    6. less than equal to----> <=  """

In [ ]:
#write a python program to print the student is pass or fail?
a = int(input("enter your marks: "))
if a>=45:
  print("congrats you are pass")
  print("you have recived",a)
else:
  print("Better luck next time")
  print("you have recived", a)

In [ ]:
#write program to print weather the given number is +ve, or -ve if it is 0 means print neutral
#if --->elif-->else
b = int(input("enter the number"))
if b >0:
  print("+ve")
elif b == 0:
  print("neutral")
else:
  print("-ve")

**Logical Operatprs**

In [ ]:
#1. AND:- when all the conditions are true then only the program can be executed
#2. Or:- if any one condition is satisfied the program can be executed
#3. Not:- it reverse your actual output
a = 40
b = 20
c = 100
d = 15
#check that a is greater than  b and b > d and c > a
#if conditions satisfied print all the conditions satisfied
if a>b and b>d and c<a:
  print('all the conditions satisfied')
else:
  print('any one condition is satisfied')

In [ ]:
print(10 == 10)
print(10 != 10)
print(10 > 10)
print(10 < 10)
print(10 >= 10)
print(10 <= 10)

In [ ]:
a = 40
b = 20
c = 100
d = 15
#check that a is less than  b and b < d and c > a
#if conditions satisfied print  the conditions satisfied
if a<b and b<d and c>a:
  print('the conditions satisfied')
else:
  print('all the condition is not satisfied')

In [ ]:
print(10 == 10)
print(not(10 == 10))

In [ ]:
#write a program to print the user is eligible for adventure ride or not
# if the age is less than 12 print("your not eligible and check for other rides")
# if age is between 12 to 45 print("your eligible for ride")
# if age is more than 40 print("look for another ride it is too risky")
# else you can print your not eligible to the ride

**Nested conditions**

In [ ]:
#what is nested condition and what is the purpose of nested condition?
#writing a condition inside the another condition is known as nested condition
#writing a if condition inside the another if condition is known as nested condition
#check up to what extend the 45 is gretaer than 10 20 30
a = 5
if a> 10:
  print("a is greater than 10")
  if a>20:
    print("a is greater than 20")
    if a>30:
      print("a is greater than 30")
      if a>40:
        print("a is greater than 40")
        if a>50:
          print("a is greater than  50")
        else:
          print("a is less than 50")
      else:
        print("less than 40")
    else:
      print(" ais less than 30")
  else:
    print("a is less than 20")
else:
  print("a is less than 10")

**19-12-2024**

In [ ]:
#pass:- is an null place holder when you executes nothing will happen
#check the given number is even or odd?
a = int(input("enter the number:"))
if a%2==0:
  print('even')
else:
  pass

#Revision

1. What is Python?

most emerging ,genral purpose, highlevel fynamically typed , OOP's, interpreted programming language

2. why comments are important?

for better understanding purpose we use comment

there 2 types of comments

1. single line comment----> #
2. multiline comment--->  """ """ or ''' '''

3. how many types of numerical dtypes?

     1. integer
     2. float
     3. complex number--->    2+5j

4. arthametic operators---> 7types

   --> +,-,*,/,%,**(exponenetial or tothe power off),//(floor division)

5. round()--->round() can be applicable for decimal number or float data types

6. Variable--> is acontiner where we can store our valuable information

      -->Rules


 7. INPUT():- is a inbuilt function used to store any kind of information from user

         --> the default dtype of input is string


 8. what is an string?

         --> string is sequence of characters where each character can be accessible   
         how can we access the characters?
         --> By using indexing and slicing operator---> []
         what is indexing?
         --> positional number of each character
         --> string is ordered--> the characters is having the
         sequence of index position numbers

  9. what is an object oriented programming language?--->oop's

--> In python each line of code is having its own "identity","properties", "methods of interaction"

In [ ]:
print(10/3)
print(10//3)

In [ ]:
print(round(3.554789,2))
#the count decimal numbers after the decimal point is known as ndigits

In [ ]:
_ = "hel36346573@%43lo"

In [ ]:
a = input("enter number: ")
print(a)
print(type(a))

In [ ]:
a = "Hello"
print(a[4])
print(a[-1])
print(dir(a))
print(a.lower())
print(a.upper())
print(a.replace('Hello','Hi'))

**String Formatting method**

In [ ]:
#what is a string formatting method?
#it takes an argument and place over place-holder-->{}
age = 10
txt = f"I am {age} years old"  #f'string formatting {method}'
print(txt)

In [ ]:
item = input("enter item name: ")
price_each = int(input("enter price: "))
quantity = int(input("enter the total quantity "))
Notification = f"your order for {item}, has been confirmed, with an quantity of {quantity} and Total price {price_each*quantity}"
print(Notification)

**escape characters**

In [ ]:
#when we want to print illegal characters (" " or  ' ') along with the string we use escape characters
#escape characters can be decalred in backward slash (\)
a = "Dywane \"The Rock\" Johnson"
print(a)

In [ ]:
son2age = 10

In [ ]:
user_input = input("Enter a number: ");
print("You entered: ", int(user_input))

In [ ]:

#What will be printed when the following executes?
str = "His shirt is red"
pos = str.find("is")
print(pos)

**24-12-2024**

**loops**

In [ ]:
#what is loop?
# loop is defined as a set of instruction or a set of rules
#what is main purpose of loops?
# main purpose of loops is to avoid writing duplicate codes.
#Howmany types of codes do we have?
#2types
#1.WET Codes--> means -->w:write e:everything t:twice
#2.DRY Codes--> means --> d:Don't r:repeat y:yourself
# so loops encourages you to write the DRY codes

In [ ]:
#how many types of loops?
#there are 2types of loops
#1. while loop
#2. for loop
#why we don't have do-while loop in python because python is ahigh-level programming language
#Both while & dowhile can have same working functionality

**WHILE LOOP**

In [ ]:
#WHAT IS A While loop?
#While loop runs a set of instructions untile the condition remains true
intial = 1
target = 5
while intial <= target:
  print("go up")
  print("go down")
  print("=======rep complted====")
  print(intial)
  intial = intial + 1

In [ ]:
print(1 <= 5)
print(2 <= 5)
print(3 <= 5)
print(4 <= 5)
print(5 <= 5)
print(6 <= 5)

In [ ]:
#write simple program to run a lift? if the user giveing 4th floor stop at floor 4
intial = 1
target = int(input("enter your floor no:  "))
while intial <= target:
  print(f'you are at {intial} floor')
  intial = intial + 1

In [ ]:
a = [1,2,3,4,5,6]
#in above list print the multiples of 2
#2,4,6,8,10,12

**for loop**

In [ ]:
#what is for loop?
#for loop runs a set of instructions or rules over each and every elemnt in the collection
a = [1,2,3,4,5,6]
for i in a:
  print(i*2, end=",")

**break**:- it breaks the loop irrespective of items in the collection

In [ ]:
h = [1,2,3,4,5,6,7,8,9,12,13,15,17,19,14,17,23,24,23,26,78,54,34,562,5234,]
#print the items before 13
for i in h:
  if i == 13 or i == 562:
    break
  print(i,end=",")

**continue**--> skips the current loop

In [ ]:
for j in h:
  if j == 562 or j == 5234 or j == 12 or j == 15:
    continue
  print(j,end = " ")

In [ ]:
#can we break a loop at multiple points--> No
#can we skip multiple iterations at a time---> yes

25-12-2024

**Range()**

In [ ]:
#what is range()?
#it is a inbuilt function used to print range of numbers
for i in range(10):
  print(i,end = ",") #end act as a delimeter which means it separates each data item with some characters

In [ ]:
#print the range of numbers start from 1 to 20
#range(start,end)--> end is always n+1
for h in range(1,21):
  print(h,end=" ")

In [ ]:
#print the range of even numbers from 20 to 100
#range(start,end,step)
for i in range(21,101,2):
  print(i,end=" ")

In [ ]:
#calculate the sum of numbers from 1 to 10 by using loops?
sum = 0
for i in range(1,11):
  sum = sum + i
print(i)

In [ ]:
#2.print the numbers in reverse from 10 to 1 by using the loops?
for i in range(10,0,-1):
  print(i,end=" ")

In [ ]:
#3. print the string characters by using the loops in separate line?
h = "Hello World!"
for i in h:
  print(i)

In [ ]:
#4.print all upper case letters in a string using a for loop?
string = "Hello World"
for i in string:
  print(i.upper(),end="")

In [ ]:
#5.Count the number of vowerls in a string?
d = "Hello World"
vowels = "AEIOUaeiou"
count = 0 #store the count of vowels
for i in d:
  if i in vowels:
    count = count + 1
print(count)

In [ ]:
#6.print a pattern of stars * using the nested for loop?
for i in range(5):   #length of i is 5
  #print('*',end=" ")
  for j in range(i+1): #this will help you print the "*" in increasing order
    print("*",end="")
  print()

In [ ]:
#7.find the factorials of the numbers?
# 5-->     1*2*3*4*5
#both for loop and while
fact = 1
for i in range(1,6):
  fact = fact * i
  print(fact)

In [ ]:
start = 1
sum = 0
while start <= 10:
  sum = sum +start
  start = start + 1
print(sum)

#Collection

In [ ]:
#How many types of collections?
# 4types
#1. list
#2. tuple
#3. set
#4. dictionary

In [ ]:
#collection store two types of data
#1. Homogenous data
#2. Heterogenous data
#what is homogenous collection?
#collection of same data types is known as homogenous data
#what is heterogenous data?
#collection of multiple dtypes is known as heterogenous data

**LIST**

In [ ]:
#what is a list and how can we decalre a list? or Define a list?
#list --->[]
#list is defined as ordered, muttable(changable), and it allows the duplicate data

**allows the duplicate data**

In [ ]:
l1 = ['python','java','Dot Net','C++',"C","R",'python','java','NodeJS']
print(len(l1))
print(l1)

**list is ordered**

In [ ]:
l1 = ['python','java','Dot Net','C++',"C","R",'python','java','NodeJS']
#what is ordered?
#if the items in the collection is having a sequence of index position numbers then the collection is ordered

In [ ]:
#[start]
#print "Dot Net" from above list
print(l1[2])
#[start:end] #end is always n+1
#print the 'C++',"C","R"
print(l1[3:6])
#print the even index position characters
#[start:end:step]
print(l1[0:10:2])

In [ ]:
#print the last character of the above string
print(l1[-1])
#print a range of characters by using -ve indexing
print(l1[-4:-8:-1])

In [ ]:
print(l1[::2])
#reverse the entire list
print(l1[::-1])

**List is Muttable**

muttable means collection has to follow 3 properties
1. replace or swap the items
2. add new items
3. remove the items

*replace or swap the items*

In [ ]:
#how can replace the items in list?
#by using the index position numbers
l2 = ['apple','banana','kiwi','mango','orange','apple']
#above list replace kiwi with watermelon
l2[2] = 'watermelon'
print(l2)

In [ ]:
#replace "banana', 'watermelon', 'mango' with kiwi,lemon,grapes"
l2[1:4] = "kiwi","lemon","grapes"
print(l2)

*Add the items to list*

In [ ]:
#dir()
print(dir(l2))
"""'append', 'clear', 'copy', 'count', 'extend', 'index', 'insert', 'pop',
'remove', 'reverse', 'sort' """

In [ ]:
l3 = ['apple', 'kiwi', 'lemon', 'grapes', 'orange', 'apple']
#add "banana" to l3
#append()
#what is default index position when you use the append method?
#at the end of the list
l3.append('banana')
print(l3)
#Note we cannot add the multiple items by using the append method

In [ ]:
#add the item at particular index position--> use insert(index,item_name)
l3.insert(1,'dragon fruit')
print(l3)
#note:- we cannot add multiple items by using insert()

In [ ]:
#if i want to add the multiple items in above list
#use 'extend()' by default the items can be added at end index position
l4 = [1,2,3,4,5,6]
#add the l4 into l3
l3.extend(l4)

In [ ]:
print(l3)

**remove items from list**

In [ ]:
#1.pop('index') or pop() by defalut remove the end item
l5 = ['apple', 'dragon fruit', 'dragon fruit', 'kiwi', 'lemon', 'grapes', 'orange', 'apple', 'banana', 1, 2, 3, 4, 5, 6]
l5.pop()
print(l5)

In [ ]:
l5.pop(1)   #pop(index_position)
print(l5)

In [ ]:
l5.pop(5)
print(l5)

In [ ]:
#remove(item_name)
l5.remove('dragon fruit')
print(l5)
#we cannot remove the multiple items at a time by using reve()

In [ ]:
#del collection_name[start:end]
del l5[7:12]
print(l5)

In [ ]:
#clear the items from the list and print the empty list
l5.clear()
print(l5)

In [ ]:
#delete the entire list
del l5
print(l5)

In [ ]:
#reverse a list or sorting of list--> h.w

**Tuple**

In [ ]:
#what is tuple or define tuple?
#Tuple:-()
#tuple is defined as 'ordered', immutable, allows the duplicates

tuple allows the duplicates

In [ ]:
t1 = ('apple', 'kiwi', 'lemon', 'grapes', 'apple', 'banana')
print(t1)
print(type(t1))
print(len(t1))

**tuple is ordered**

In [ ]:
print(t1[0])
print(t1[2:5])
print(t1[::-1])

**tuples are immutable**

in tuple we cannot replace, add, remove the items from the tuple

In [ ]:
l = list(t1)
print(l)

In [ ]:
t2 = tuple(l)
print(t2)

**26-12-2024**

In [ ]:
#tuples are faster than the list why--> beacuse tuples are immutable.

**set**

In [ ]:
#what is a set?
#how can you define a set?
#set---> {}
#set is defined as unordered, immutable, and wont allow duplicates

**sets wont allow duplicates**

In [ ]:
s1 = {1,2,3,4,5,6,7,8,1,4,5,6,1,2,3}
#what is the length of above set
print(len(s1))
print(s1)
print(type(s1))

**set is unordered**

In [ ]:
#Unordered means the the elements in the set doesn't have sequence of index position numbers
s2={'apple','banana','lemon','orange','lemon'}
print(s2[1]) # 'set' object is not subscriptable bcz it is unordered

In [ ]:
print(s2)

**set is immutable**

In [ ]:
#In sets we can add the new items and remove the items from set BUT we cannot replace the items in the SET
print(dir(s2))
"""
'add', 'clear', 'copy', 'difference', 'difference_update', 'discard', 'intersection',
'intersection_update', 'isdisjoint', 'issubset', 'issuperset', 'pop', 'remove',
'symmetric_difference', 'symmetric_difference_update', 'union', 'update' """

**Add items into set**

In [ ]:
#1.add()
s3={'banana', 'apple', 'orange', 'lemon'}
s3.add('kiwi')
print(s3)
#what is the index position of item when you add item in to set?
#random position BCZ  set is unordered

In [ ]:
#2.update() is used to add the multiple items in a set
s4 ={'python','java','c++','C'}
#update s3 with s4
s3.update(s4)
print(s3)

**remove the items from set**

In [ ]:
#1.pop()--yes we can use but it not a prferable method
s5 = {'java', 'C', 'banana', 'c++', 'kiwi', 'orange', 'python', 'apple', 'lemon'}
s5.pop()
print(s5)

In [ ]:
#2.remove()--> is used remove specific item
s5.remove('kiwi')
print(s5)

In [ ]:
#3.discard()-->is used remove specific item
s5.discard('c++')
print(s5)

In [ ]:
#what is difference b/w remove and discard?
#in remove() if the item doesn't exist means it through's an error
#in discard() if the items doesn't exist it won't through an error
s5.remove('c++')
print(s5)

In [ ]:
s5.discard('kiwi')
print(s5)

In [ ]:
#remove all the elements from the set
s5.clear()
print(s5)

In [ ]:
#delete the entire set s5
del s5
print(s5)

In [ ]:
#union() combine all the data sets
s1 = {'a','b','c','d'}
s2 = {'d','e','f','g'}
print(s1.union(s2))

In [ ]:
#intersection() prints the common elements
print(s1.intersection(s2))

In [ ]:
#difference() substarction of the items from other set
print(s1.difference(s2))

**dictionary**

In [ ]:
#what is dictionary or how you can define dictionary?
#dictionary---> {}
#dictionary is unordered, mutable, it won't allow the duplicates
#How information in the dictionary is stored?
#the data in the dictionary can be stored as {key:value} pairs

**dict won't allow the duplicates**

In [ ]:
d1 = {
    'Name':'shahul',
    'age':28,
    'education': 'B.Tech',
    'education': 'Masters'
    }
print(d1)
print(len(d1))
print(type(d1))

**dict is unorderd** means no index position numbers

In [ ]:
print(d1[0]) #KeyError: 0

In [ ]:
#how can we access the items in the dictionary
#by using the "keys"
print(d1['Name'])

**dict is muttable**

In [ ]:
d1 = {
    'Name':'shahul',
    'age':28,
    'education': 'B.Tech',
    'education': 'Masters'
    }
#replace the name with your 'sir' name
d1['Name'] = 'sk'
print(d1)

In [ ]:
#add a new key:value pair to the d1
d1['bike'] = 'RE'
print(d1)

**remove items from dictionary**

In [ ]:
print(dir(d1))

In [ ]:
"""'clear', 'copy', 'fromkeys', 'get', 'items', 'keys',
'pop', 'popitem', 'setdefault', 'update', 'values' """
#pop('key_name")  #note:- in pop() give the key name inside it
d1.pop('age')
d1

In [ ]:
#clear()

In [ ]:
#update
d2 = {'fruit':['apple','banana','lemon']}
d1.update(d2)
print(d1)

In [ ]:
#print fruits from above d1
#print(d1['fruit'])
print(d1['fruit'][0])

In [ ]:
print(d1.keys())

In [ ]:
print(d1.values())

In [ ]:
d2 = {
    'Name': 'sk',
    'education': 'Masters',
    'bike': 'RE',
    'fruit': {'apple', 'banana', 'lemon'}}
#print(d2['fruit'][0])

In [ ]:
d2.clear()
print(d2)

In [ ]:
#list--->[]--> ordered, muttable, allows duplicates
      """add methods:- append(),extend(), insert()
        remove methods:- pop(),remove(),del l[start:end], clear"""
#tuple-->()--> ordered, immutable, allows duplicates
#set---> {}--> unordered, immutable, doesn't allow duplicates
     """ add methods:- add(), update()
        remove methods:- pop(),remove(),discard(),clear,del"""
#dictionary--->{key:value}--> unordered,muttable, doen't allow duplicates
    """ add methods:- update(),  d1['new_key_name']
        remove methods:- pop('key_name'),clear(), del"""

In [ ]:
#sort can be done based on ASCII values
l = ['Apple','banana','kiwi','Orange','grapes']
l.sort(reverse = False)
print(l)

In [ ]:
print(dir(l))

In [ ]:
a = [1,2,3,4,1,4,3,4,5,6,6]
a.sort(reverse = True)
print(a)

In [ ]:
#can we convert a list in to dictionary--> n0
#can we convery a list in to set-->yes
print(set(a))

In [ ]:
#find the minimum number in a list?
list = [2,15,85,35,65,12,125,2,12,34,5,6,8]
min = list[0]
for i in list:
  if min > i:
    min = i
print(min)

In [ ]:
##find the maximum number in a list?
max = list[0]
for i in list:
  if max < i:
    max = i
print(max)

In [ ]:
#find the middle element in the list
list = [1,2,3,4,5]
mid = int(len(list)/2)
print(list[mid])

In [ ]:
#converting a list into string?
list = ['p','y','t','h','o','n']
string = "".join(list)
print(string)
print(type(string))

In [ ]:
#comparing two strings for anagrams?
str1 = 'Listen'
str2 = 'Silent'
s = str1.lower()
s2 = str2.lower()
if len(s) == len(s2):
  #print('string is in same length')
  #sort the string
  sort1 = sorted(s)
  sort2 = sorted(s2)
  if sort1 == sort2:
    print(f'{str1} and {str2} are anagrams')
  else:
    print(f'{str1} and {str2} are not anagrams')